* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
    background-color: #fff !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif\;
        /* background: url("img/astro bg.jpg"); */
        /* background-repeat: no-repeat; */
}

.navbar {
    position: fixed !important;
    z-index: 2;
    top: 0;
    width: 100%;
    padding: 0% !important;
    color: white;
    height: 5rem;
}

.navbar-brand img {
    margin-left: 0.5rem !important;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

.navbar-nav {
    padding-left: 55% !important;
}

.navbar-toggler {
    margin-right: 1rem;
}

.navbar-toggler-icon {
    display: inline-block !important;
    width: 1.5rem !important;
    height: 1.5rem !important;
    vertical-align: middle !important;
    background-image: var(--bs-navbar-toggler-icon-bg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 100% !important;
}

.bg-body-tertiary {
    background-color: transparent !important;
    --bs-bg-opacity: 0.5 !important;
}

.navbar-nav {
    background-color: transparent;
    --bs-bg-opacity: 0.5 !important;
}

.nav-link {
    padding: 1rem !important;
    font-size: 1.3rem !important;
    color: #000 !important;
    font-weight: 700;
}

.carousel {
    position: absolute;
    padding-top: 5rem;
}

.carousel-item img {
    height: 30rem;
    padding: 0rem 30rem;
}

.heading {
    border-bottom: 1.75px solid #fff;
}

.heading h1 {
    font-size: 4rem;
    color: #fff;
    font-weight: 200;
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    justify-content: center;
}

#home {
    /* background: #000000; */
    background: url("https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?auto=format&fit=crop&q=80&w=2072&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hometails {
    padding: 1rem 0rem 9rem 0rem;
}

.hometails h1 {
    background-image: url("https://images.unsplash.com/photo-1462332420958-a05d1e002413?auto=format&fit=crop&q=80&w=1807&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5rem;
    color: #fff;
    font-weight: 1000;
    font-family: 'Space Grotesk', sans-serif;
    position: relative;
    text-align: center;
}

.hometails p {
    font-size: 1.5rem;
    color: #bb7711;
    font-weight: 400;
    position: relative;
    text-align: center;
}

#blogs {
    padding-top: 7.5% !important;
    background: url("https://images.unsplash.com/photo-1693146261069-0a6f70b6d3c6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 11rem;
}

/* .blog_cnt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2.5rem 1rem;
    border-radius: 2rem;
    box-shadow: rgb(204, 219, 232) 3px 3px 15px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 15px 1px inset;
}

.blog_cnt:hover {
    box-shadow: 25px 25px 50px -16px rgb(38, 57, 77);
}

.blog_cnt_inv {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2.5rem 1rem;
    border-radius: 2rem;
    box-shadow: rgb(204, 219, 232) 3px 3px 15px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 15px 1px inset;
}

.blog_cnt_inv:hover {
    box-shadow: 25px 25px 50px -16px rgb(38, 57, 77);
}

.blog_cnt_pic {
    width: 20%;
}

.blog_cnt_pic img {
    height: 20rem;
    width: 20rem;
    border-radius: 2rem;
    margin: 1rem 0rem;
}

.blog_cnt_txt {
    width: 70%;
    margin: 2rem 0rem;
}

.blog_cnt_txt h3 {
    align-items: center;
}

.blog_cnt_txt_p {
    height: 15rem;
    overflow-y: scroll;
    scroll-behavior: smooth;

    ::-webkit-scrollbar {
        width: 0px;
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        background: #551342;
        border-radius: 12px;
    }

    ::-webkit-scrollbar-thumb {
        background: #fffc97;
        border-radius: 12px;
    }
} */
.blog-bar {
    padding: 5rem 0rem 0 0;
    display: flex;
    justify-content: space-evenly;
    /* overflow-x: scroll;
    scroll-behavior: smooth;
    ::-webkit-scrollbar {
        width: 0px;
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        background: #551342;
        border-radius: 12px;
    }

    ::-webkit-scrollbar-thumb {
        background: #fffc97;
        border-radius: 12px;
    } */
}

.ser {
    /* height: 25rem; */
    /* width: 120rem; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ui-card {
    width: 20rem;
    height: 20rem;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-out;
    background: radial-gradient(#111 50%, #000 100%);
    margin: 2.5rem;
    border-radius: 2rem;
}

.ui-card-img img {
    max-width: 100%;
    transition: all 0.6s ease-out;
}

.ui-card-img:hover img {
    transform: scale(1.6) translateY(0px);
    opacity: 0.5
}

.ui-card .description {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 18px;
}

.ui-card .description h3 {
    font-weight: 700;
    font-size: 2rem;
    margin: 0 0 5rem;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-out;

}

.ui-card .description a {
    color: #fff;
    background: #34aff3;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-out 0.4s;
}

.ui-card:hover .description h3 {
    opacity: 1;
    transform: translateY(0px);
}

.ui-card:hover .description a {
    opacity: 1;
    transform: translateY(0px);
}

.modal-header {
    position: relative;
    display: flex;
    justify-content: center;
}

.modal-header h5 {
    color: #000;
    font-size: 4rem;
    font-weight: 300;
}

.modal-body-header {
    padding: 1rem 0rem;
}

.modal-body img {
    height: 15rem;
    width: 15rem;
}

.modal-body h4 {
    color: #000;
    font-size: 2.5rem;
}

.modal-body-p {
    padding: 1rem;
}

.modal-body p {
    color: #000;
    font-size: 1rem;
    position: relative;
    text-align: left;
}

#achievments {
    padding-top: 5% !important;
    padding-bottom: 10rem;
}

#achievments .carousel {
    padding-top: 1rem !important;
}

.acv_cnt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1.5rem auto;
    border-radius: 2rem;
    box-shadow: rgb(204, 219, 232) 3px 3px 15px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 15px 1px inset;
    background: url("https://images.unsplash.com/photo-1536514498073-50e69d39c6cf?auto=format&fit=crop&q=80&w=2071&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 80%;
    margin-bottom: 2rem;

}

.acv_cnt:hover {
    box-shadow: 25px 25px 50px -16px rgb(38, 57, 77);
}

.acv_cnt_inv {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1.5rem auto;
    border-radius: 2rem;
    box-shadow: rgb(204, 219, 232) 3px 3px 15px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 15px 1px inset;
    background: url("https://images.unsplash.com/photo-1536514498073-50e69d39c6cf?auto=format&fit=crop&q=80&w=2071&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 80%;
    margin-bottom: 2rem;
}

.acv_cnt_inv:hover {
    box-shadow: 25px 25px 50px -16px rgb(38, 57, 77);
}

.acv_cnt_pic {
    width: 20%;
}

.acv_cnt_pic img {
    height: 12rem;
    width: 12rem;
    border-radius: 2rem;
    margin: 1rem 0rem;
    padding: 0 !important;
}

.acv_cnt_txt {
    width: 70%;
    margin: 2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.acv_cnt_txt h3 {
    position: relative;
    text-align: center;
    color: #bb7711;
    font-size: 2.5rem;
    font-weight: 400;
}

.acv_cnt_txt p {
    position: relative;
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
}

.acv_cnt_txt_p {
    margin: 0.5rem 0;
    height: 4rem;
}

#achievments .carousel-control-prev-icon {
    background-image: url("https://cdn-icons-png.flaticon.com/128/271/271220.png") !important;
}

#achievments .carousel-control-next-icon {
    background-image: url("https://cdn-icons-png.flaticon.com/128/271/271228.png") !important;
}

#team {
    padding-top: 7.5% !important;
    background: url("https://images.unsplash.com/photo-1638184984605-af1f05249a56?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 5rem;
}

#achievments .heading,
#gallery .heading,
#astronomy .heading {
    border-bottom: 1.75px solid #000;
}

#achievments .heading h1,
#gallery .heading h1,
#astronomy .heading h1 {
    color: #000;
}

.tagline h2 {
    padding: 1.5rem;
    color: #bb7711;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.3rem;
}

.teamtailgrid {}

.teamtile {
    margin: 0rem 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.teamtile_inv {
    margin: 0rem 10rem;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.teamtile_lg {
    width: 50%;
}

.teamtile_txt {
    width: 50%;
    height: 22rem;
    background: #fff;
}

.teamtile_lg img {
    height: 22rem;
    width: 100%;
}

.teamtile_txt h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
    font-size: 3eem;
}

footer {
    background: #24262b;
    color: #fff;
}

.container {
    width: 100%;
    flex-wrap: wrap;
}

.p-4 {
    padding: 0.75rem !important;
}

.col-lg-6 {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    border-right: 0.1rem solid rgba(255, 255, 255, 0.4);
}

.footerimg {
    width: 25%;
    margin: auto 0;
}

.footertails {
    width: 75%;
    position: relative;
    text-align: center;
    margin: auto 3rem;
}

.col-lg-6 img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

footer h5 {
    color: #bb7711;
    font-size: 1.5rem;
}

.mb-4 {
    margin-bottom: 0 !important;
}

.col-lg-3 {
    border-right: 0.1rem solid rgba(255, 255, 255, 0.4);
}

.mb-1 a {
    color: #fff;
    text-decoration: none !important;
}

.lnk {
    position: relative;
    text-align: center;
    margin-top: 1.5rem;
}

.list {
    position: relative;
    text-align: center;
}

.col-lg-2 {
    margin: 1.5rem auto 0 auto !important;
}

.followheading {
    position: relative;
    text-align: center;
}

.socialinks {
    position: relative;
    align-items: center;
}

.socialinks i {
    margin: auto 0.2rem;
}

.emailinfo {
    display: flex;
}

.emailinfo i {
    margin: auto 1rem 0 0.2rem;
}

.address {
    position: relative;
    text-align: center;
}

.text-center {
    background-color: rgba(0, 0, 0, 0.3);
}

a.text-dark {
    color: #fff !important;
}

@media only screen and (max-width:1400px) {
    .navbar {
        height: 4rem;
        position: fixed !important;
    }

    .navbar-brand img {
        height: 3rem;
        width: 3rem;
    }

    .navbar-nav {
        background-color: #bbbbbb;
    }

    .carousel {
        padding-top: 4rem;
    }

    .carousel-item img {
        height: 20rem;
        padding: 0rem 3rem;
    }

    .heading h1 {
        font-size: 2rem;
    }

    .hometails {
        padding: 8rem 0rem;
    }

    .hometails h1 {
        font-size: 5rem;
    }

    .hometails p {
        font-size: 0.9rem;
    }

    #blogs {
        padding-top: 4rem !important;
        padding-bottom: 15rem;
    }

    /* .blog_cnt {
        flex-direction: column;
    }

    .blog_cnt_inv {
        flex-direction: column;
    }

    .blog_cnt_pic {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .blog_cnt_pic img {
        height: 10rem;
        width: 10rem;
        border-radius: 2rem;
        margin: 1rem 0rem;
    }

    .blog_cnt_txt {
        width: 100%;
    }

    .blog_cnt_txt h3 {
        display: flex;
        justify-content: center !important;
        font-size: 1.5rem;
    }

    .blog_cnt_txt_p {
        height: 10rem;
        width: 80%;
        margin: 0rem 2rem;
        overflow-y: scroll;
        scroll-behavior: smooth;

        ::-webkit-scrollbar {
            width: 0px;
            height: 6px;
        }

        ::-webkit-scrollbar-track {
            background: #551342;
            border-radius: 12px;
        }

        ::-webkit-scrollbar-thumb {
            background: #fffc97;
            border-radius: 12px;
        }
    }

    .blog_cnt_txt_p p {
        font-size: 1rem;
    } */
    .blog-bar {
        padding-top: 10rem;
        overflow-x: scroll;
        scroll-behavior: smooth;

        ::-webkit-scrollbar {
            width: 0px;
            height: 6px;
        }

        ::-webkit-scrollbar-track {
            background: #551342;
            border-radius: 12px;
        }

        ::-webkit-scrollbar-thumb {
            background: #fffc97;
            border-radius: 12px;
        }
    }

    .ser {
        height: 20rem;
        width: 100rem;
        flex-wrap: nowrap;
        padding-left: 35rem;

    }

    .ui-card {
        height: 15rem;
        width: 15rem;
    }

    .ui-card .description h3 {
        font-size: 1rem;
        margin: 0 0 2.5rem 0;
    }

    .modal-content {
        margin: 7rem 2.4rem;
        width: 80%;
        height: 30rem;
    }

    .modal-header h5 {
        font-size: 2.2rem;
    }

    .modal-body h4 {
        font-size: 1.8rem;
    }

    .modal-body p {
        font-size: 0.7rem;
    }

    .acv_cnt_pic,
    .acv_cnt_txt {
        width: 100%;
    }

    .acv_cnt_pic img {
        height: 10rem;
        width: 10rem;
        margin: 0.5rem 0;
    }

    .acv_cnt_pic {
        display: flex;
        justify-content: center;
    }

    .acv_cnt_txt h3 {
        font-size: 1.2rem;
        margin: 0 !important;
    }

    .acv_cnt_txt p {
        font-size: 0.6rem;
        margin-bottom: 0rem !important;
    }

    .acv_cnt_txt {
        margin: 0.5rem 0 !important;
    }

    .acv_cnt_txt_p {
        padding: 0 1rem !important;
    }

    .tagline h2 {
        font-size: 1rem;
    }

    .teamtile {
        /* flex-direction: column-reverse; */
        margin: 0 2rem;
    }

    .teamtile_inv {
        /* flex-direction: column-reverse; */
        margin: 0 2rem;
    }

    .teamtile_lg {
        width: 50%;
        background: #fff;
        display: flex;
        justify-content: center;
    }

    .teamtile_txt {
        width: 50%;
        height: 8rem;
    }

    .teamtile_lg img {
        height: 8rem;
        width: 100%;
    }

    .teamtile_txt h2 {
        font-size: 0.8rem;
        margin-top: 33%;
    }

    footer h5 {
        font-size: 1.2rem;
    }

    footer p {
        font-size: 0.8rem;
    }

    .col-lg-6 {
        width: 100%;
        border-right: none;
        padding: 0.5rem;
    }

    .col-lg-6 img {
        height: 9rem;
        width: 9rem;
    }

    .footerimg {
        width: 50%;
    }

    .footertails {
        width: 50%;
        margin: auto 0.1rem;
    }

    .col-lg-2,
    .col-lg-3 {
        width: 50% !important;
    }

    .list li {
        font-size: 0.8rem;
    }

    .address {
        font-size: 0.8rem;
    }

    .emailinfo i {
        margin: auto 0.3rem 0 0.2rem;
    }

    .lnk {
        margin-top: 1.2rem;
    }

    .col-lg-2 {
        margin: 1rem auto 0 auto !important;
    }
}